/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

title {

}

p {
  clear: both;
}
h1,
h2,
h3,
h4 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 3rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Courier", times, serif;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 2em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
  color: #48525c;
}

h3 {
  font-size: 2rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}
}

h4 {
  font-size: 3rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

img {
  max-width: 100%;
  border-radius: 0px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 169, 73);
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {

}

/* Main Styles --------------------- */


.OrderNow {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  display: block !important;
  width: 250px !important;
  height: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f39c12;
  text-decoration: none;
}

.OrderNow:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Navigation Bar */

.nav-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #333, transparent);
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 3;
    
}

.nav-section li {
    float: left;
}

.nav-section a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-section a:hover {
    background-color: #111;
}

/* Divs */

.block-a,
.block-b,
.block-c {
  display: inline-block;
  width: 20%;
  background-color: #e6f2ff;
  border: double 3px #878787;
  height: 400px;
  position: relative;
  padding-bottom: 50px !important;
  margin: 75px 6.5%;
}

.block-a:hover,
.block-b:hover,
.block-c:hover {
  background-color: #80bfff;
  color: white;
  }
}

.block-a {

}

.block-b {
  
}

.block-c {

}

.sub-div {
  border-radius: 100%;
  background-color: #262626;
  color: white;
  height: 130px;
  width: 130px !important;
  position: relative;
  padding-top: 20px !important;
  top: -65px;
}


.satisfaction::before{
  background-image: url('../img/satisfaction.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding-right: 100px !important;
  height: 75px;
  content: "";
  position: relative;
  top: 25px;
}
.TenderLoving::before{
  background-image: url('../img/TenderLovingLargeLogo.jpg');
  background-repeat: no-repeat;
  background-size: 250px, 50%;
  display: inline-block;
  float: left;
  height: 250px !important;
  width: 50%;
  content: "";
  position: relative;
}
.WorldFoods::before{
  background-image: url('../img/WorldFoods.png');
  background-repeat: no-repeat;
  background-size: 250px, 50% !important;
  display: inline-block !important;
  float: left;
  background-position: 0;
  height: 200px;
  width: 50% !important;
  content: "";
  position: relative;
}

.contact-div-a {
  display: inline-block;
  width: 50%;
  float: left;
  height: 250px;
}
.break-div-a {
  display: inline-block;
  width: 50%;
  float: left;
  height: 400px;
}

.contact-div-b {
  background-image: url('../img/KOLogoBlack.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0%;
  display: inline-block;
  width: 50%;
  float: right;
  padding-right: 20%;
  height: 300px;
  position: relative;
}

.break-div-b {
  display: inline-block;
  width: 50%;
  float: right;
  height: 400px;
}

.rate-descriptions{
  position: relative;
  top: -50px;
}


.OrderNow {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f39c12;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.OrderNow:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.break-b {
  display: block;
  height: 20vh;
  background: url('../img/sart.jpg') no-repeat center;
  background-attachment: fixed;
  min-height: 50%;
  background-size: cover;
}
/* Psudo Classes */
.space {
  margin-left: 10px;
}

.t-space {
  margin-top: 25px !important;
}

.t-space200 {
  margin-top: 200px !important;
}

.b-space {
  margin-bottom: 25px !important;
}

.thumb {
  width: 30px;
  vertical-align: middle;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.center-b {
    margin: auto;
    width: 100%;
    padding: 20vh;
    text-align: center;
}

.no-padding {
  padding: 0px !important;
}

.b-border {
  border-bottom: 2px solid #dfe2e6;
}
.ba-border {
  border-bottom: 2px solid #dfe2e6;
  width: 40%;
}

.div-break-c{
  background-color: #fff;

}
.social {
  display: inline-block;
  float: right;
  padding: 20px;
  margin-bottom: 10px !important;
}
.thumb {
  margin: 10px;
  border-radius: 3px;
}
/* Media Queries */
@media (max-width: 1044px) {
  .TenderLoving::Before {
    background-image: url('../img/TenderLovingSmallLogo.jpg');
    background-repeat: no-repeat;
    background-size: 150px, 50%;
    display: inline-block !important;
    float: left;
    background-position: 30%, 0;
    height: 125px;
    width: 50% !important;
    content: "";
    position: relative;
  }
  .WorldFoods::Before {
    background-image: url('../img/WorldFoods.png');
    background-repeat: no-repeat;
    background-size: 75%, 50% !important;
    display: inline-block !important;
    float: left;
    background-position: 30%, 0;
    height: 125px;
    width: 50% !important;
    content: "";
    position: relative;
  }
{
    font-weight: normal;
  }
  .primary-content {
    width:90%;
  }

  .satisfaction::before {
    height: 50px !important;
    top: 10px !important;
  }
  

  .block-a,
  .block-b,
  .block-c {
    width: 90%;
    height: auto;
  }  

.HiveB {
  top: 200px;
}

.contact-div-a {
  display: block;
  width: 100%;
  height: 300px;
  float: none;
}
.contact-div-b {
  display: block;
  width: 100%;
  background-position: center
  margin: 0% 10%;
  float: none;
}


.center {
  width: 90%;
}


}

@media (min-width: 1144px) {

}

@media (max-width: 768px) {
  .break-a {
    height: 0vh;
  }
  
  .break-b {
    height: 0vh;
  }

h3 {
    font-size: 1.3em;
}
.Hive {
  height: 400px;
  padding: 40px !important;
}

.break-div-a, .break-div-b {
  width: 100%;
}

.break-div-b {
  height: 500px;
}

  h1 {  
  font-size: 2rem; /* 90px/16px  */
  border-left: 2px solid #fff;
  border-bottom: none;
  }
.div-break-c{
  background-color: darkgray;
  background-size: 200%, 200%;
}
}
.HiveB {
  margin-top: 0px !important;
}
/*

////////Headers///////

*/

.main-header {
  height: 75vh;
  background: url('../img/header.JPG') no-repeat bottom;
  min-height: 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;


}

.header-amberglen {
  padding-top: 170px;
  height: 75vh;
  background: url('../img/header-amberglen.JPG') no-repeat bottom;
  min-height: 50%;
  background-attachment: scroll;
  background-size: 250%, 250%;
  width: 100%;
  position: relative;
}


.SheaBee {
    background: url('../img/KOLogo.png') bottom no-repeat;
    display: inline-block;
    background-size: contain;
    margin-top: -150px !important;
    height: 40vh !important;
    width: 100%;
}
}



.floatr {
  float: right;
  display: inline-block
}
.Hive {
  padding: 100px;
  display: block;
  height: 60vh;
background: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .8)),
                     url('../img/online.JPG') center;;

  width: 100%;
  min-height: 50%;
  background-attachment: fixed;
  background-size: 100%, 100%;
  color: white;

}
.HiveB {
  margin-top: 200px;
}
.bakery {
  display: block;
  height: 40vh;
  background: url('../img/Bakery.jpg') no-repeat center;
  background-attachment: scroll;
  min-height: 50%;
  background-size: cover;
  clear: right;
}
h4 {
  font-size: 1.25em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
  color: #48525c;
}
.SheaBee {
    background: url('../img/KOLogo.png') bottom no-repeat;
    display: inline-block;
    background-size: contain;
    height: 40vh;
    width: 100%;
}

/* Slidshow Container */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #242526;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides div img {

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #232426;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 35vh;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
